
/* ----- Global ----- */
*{
    font-family: Roboto, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

section{
    position: fixed;
    top: 0px;
    height: 100vh;
}

/* ----- App bar ----- */
.headbar {
    color: #00838f;
    height: 150px;
}

h1{
    display: inline;

}

/* ----- Channels List ----- */
h2 {
    color: #00838f;
    font-size: smaller;
}

#channels{
    width: 399px;
    height: 100vh;
    border-right: 1px solid #cccccc;
    
}

#chats {
    left: 400px;
    width: calc(100% - 400px);
}

.channel-list{
    list-style-type: none;
}

.channel-list li {
    box-sizing: border-box;
    padding: 22px;
    height: 66px;
    
}

.bold{
    font-weight: bold;
}

.small{
    font-size: small;
}

.selected {
    border-right: 2px solid brown;
    background-color: lightgray;
}

/* ----- Messages ----- */

.username{
    color: #00838f;
    font-size: smaller;
    margin-bottom: 5px;
}

.message {
    background-color: #beb5f0;
    box-sizing: border-box;
    padding: 20px;
}

.inmessage{

}

.outmessage{

}

button {
    background-color: #00838f;
    color: #ffffff;
    text-transform: uppercase;
    font-size: larger;
}